<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>로그인 | 첫출근</title>

        <link rel="stylesheet" href="/css/common.css" th:href="@{/css/common.css}" />
    </head>

    <body>
        <!-- 공통 헤더 -->
        <div id="header-placeholder" data-include="/common/header.html" th:replace="~{common/header :: header}"></div>

        <main></main>

        <!-- 공통 푸터 -->
        <div id="footer-placeholder" data-include="/common/footer.html" th:replace="~{common/footer :: footer}"></div>

        <!-- 공통 헤더·푸터 불러오기 -->
        <script src="/js/include.js" th:remove="all"></script>

        <script src="/js/common.js" th:src="@{/js/common.js}"></script>
    </body>
</html>
