<header class="header" xmlns:th="http://www.thymeleaf.org" th:fragment="adminHeader"
        th:with="adminHeaderSiteSetting=${@adminSiteSettingService.getSiteSettingView()}">
    <div class="logo-box">
        <a th:href="@{/admin}" class="admin-logo">
            <img
                    th:src="@{${adminHeaderSiteSetting.footerLogoUrl != null && !#strings.isEmpty(adminHeaderSiteSetting.footerLogoUrl)}
                            ? ${adminHeaderSiteSetting.footerLogoUrl}
                            : '/images/common/logo-footer.png'}"
                    alt="첫출근 관리자"
                    class="admin-logo__image"
            />
        </a>

        <span class="admin-badge">관리자</span>
    </div>

    <nav class="top-menu">
        <a th:href="@{/}" class="top-menu__button">서비스 홈</a>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="top-menu__button">로그아웃</button>
        </form>
    </nav>
</header>