<head th:fragment="commonHead" xmlns:th="http://www.thymeleaf.org"
      th:with="commonSiteSetting=${@adminSiteSettingService.getSiteSettingView()}">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon"
          th:href="@{${commonSiteSetting.faviconUrl != null && !#strings.isEmpty(commonSiteSetting.faviconUrl)}
                      ? ${commonSiteSetting.faviconUrl}
                      : '/images/favicon.ico'}"
          type="image/x-icon"/>
</head
