<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.firstdayproject.dao.admin.AdminDao">

    <!-- 관리자 대시보드 : 미처리 신고 수 -->
    <select id="selectUnresolvedReportCount" resultType="int">
        SELECT COUNT(*)
        FROM reports
        WHERE status = '미처리'
    </select>

    <!-- 관리자 대시보드 : 오늘 접수된 신고 수 -->
    <select id="selectTodayReportCount" resultType="int">
        SELECT COUNT(*)
        FROM reports
        WHERE created_at BETWEEN #{start} AND #{end}
    </select>

</mapper>